
<!DOCTYPE html>
<html>
    <head>
        <title>OMERO web app - best images</title>

        <!-- Include static css -->
        <link rel="stylesheet" type="text/css" href="{% static 'minimal_webapp/app.css' %}" />
    </head>

    <body>
        <h1>Best images</h1>
        
        <ul id="images">
            {% for i in images %}
                <li>
                    <a target="_blank" href="{% url 'web_image_viewer' i.id %}">
                        <img src="{% url 'render_thumbnail' i.id %}" />
                    </a>
                    {{ i.name }}
                    <a target="_blank" href="{% url 'webindex' %}?show=image-{{ i.id }}">Show</a>
                    |
                    <a href="{% url 'minimal_webapp_likes' i.id %}">Likes</a>
                </li>
            {% endfor %}
        </ul>

    </body>
</html>
